# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Trace logs or html exports
*.json
*.html
!template.html
